 /* Remove the navbar's default rounded borders and increase the bottom margin */ 
 .navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
    background-color: blueviolet;
  }


.backgroun{
  background-color: aqua;
}
  
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #776c6c;
    padding: 25px;
  }